*{margin:0; border:0; box-sizing: border-box; font-family: Helvetica;}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: lightyellow;
}
.winner{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    background: lightyellow;
    opacity: 0;
    font-size: 4rem;
    z-index: 999;
    transition: 600ms;
}
.nav{
    width: 100%;
    max-width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}
.movesCount{
    width: 50%;
    max-width: 650px;
    font-size: 2rem;
}
    .movesCount::before{
        content: 'Moves: ';
    }
.restart{
    width: 30%;
    font-size: 2rem;
    background: lightblue;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
    .restart:hover{
        background: rgb(146, 195, 211);
    }
.game{
    width: 90%;
    max-width: 650px;
    aspect-ratio: 1/1;
    position: relative;
    box-sizing: initial;
    border-radius: 20px;
    overflow: hidden;
}
    .startGame{
        width: 100%;
        height: 100%;
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 600ms;
        background: rgb(248, 248, 209);
        position: absolute;
    }

    .difficultyRow{
        display: flex;
        flex-direction: row;
        gap: 2em;
    }
        .difficulty{
            cursor: pointer;
            background: lightblue;
            padding: 1em;
            border-radius: 20px;
        }
        .difficulty:hover{
            background: rgb(146, 195, 211);
        }
    .playground{
        width: 100%;
        height: 100%;
        padding: 10px;
        justify-content: space-between;
        display: flex;
        gap: 9px;
        flex-wrap: wrap;
        position: absolute;
        background: rgb(248, 248, 209);
        transition: 600ms;
    }
.cardWrap{
    aspect-ratio: 1/1;
    perspective: 1000px;
    cursor: pointer;
    transition: 200ms;
}
.cardWrap-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 400ms;
    transform-style: preserve-3d;
}
.flip{ 
    transform: rotateY(-180deg);
}
.cardWrap-front, .cardWrap-back{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 20px;
}
.cardWrap-front{
    background-color: lightblue;
    font-size: 3rem;
}
.cardWrap-back{
    background-color: lightseagreen;
    transform: rotateY(180deg);
    padding: 10%;
}
img{
    width: 90%;
}
.guessed{
    opacity: .3;
}